[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"

[scripts]
gasapi = "python run.py"
